.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 100%;
  background-color: var(--clr-ui-surface);
  min-width: 324px;
  border-radius: 24px;
  padding: 40px;
  letter-spacing: 0.02em;
}
