.dropDownContainer {
  position: relative;
  font-family: var(--ff-body), sans-serif;
}

.buttonWithIconSecondary,
.buttonWithIcon {
  position: relative;
  display: flex;
  justify-content: left;
  color: var(--clr-text-primary, #000000);
  cursor: pointer;
}

.buttonWithIcon {
  gap: 10px;
  padding: 12px 20px;
  background: white;
  border: 1px solid var(--clr-text-secondary, #69735D);
  border-radius: 12px;
  width: 100%;
}

.buttonWithIconSecondary {
  padding: 8px 8px 8px 16px;
  background: transparent;
}

.buttonWithIconIsOpen {
  border-bottom: 1px solid transparent;
  border-radius: 12px 12px 0 0;
}

.buttonWithIconIsOpen::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--clr-ui-disabled, #e4e8df);
  border-radius: 12px;
  content: '';
}

.buttonWithIcon:focus {
  outline: none;
}

.dropDownListOpen .buttonWithIcon {
  border:1px solid var(--clr-ui-disabled,#e4e8df);
}

.arrowOpen  {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.arrow{
  transition: transform 0.2s ease-in-out;
  
}

.textInButtonWithIcon {
  flex-grow:1;
  color: inherit;
  text-align: left;
}

.dropDownList,
.dropDownListSecondary {
  position: absolute;
  z-index: 1;
  display:flex;
  flex-direction: column;
  width: 100%;
  min-width: max-content;
  max-height: 240px;
  padding: 2px 0;
  overflow: hidden auto;
  line-height: 1.5;
  background-color: white;
  border: 1px solid var(--clr-text-secondary, #69735D);
  scrollbar-width: thin;
  scrollbar-color: var(--clr-text-secondary, #69735D) transparent;
}

.dropDownList::-webkit-scrollbar,
.dropDownListSecondary::-webkit-scrollbar {
  width: 6px;
}

.dropDownList::-webkit-scrollbar-track,
.dropDownListSecondary::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0 0 12px;
}

.dropDownListSecondary::-webkit-scrollbar-track {
  border-radius: 0 12px 12px 0;
}

.dropDownList::-webkit-scrollbar-thumb,
.dropDownListSecondary::-webkit-scrollbar-thumb {
  background-color: var(--clr-text-secondary, #69735D);
  border-radius: 3px;
}

.dropDownList::-webkit-scrollbar-thumb:hover,
.dropDownListSecondary::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-primary-pressed, #508826);
}

.dropDownList::-webkit-scrollbar-button,
.dropDownListSecondary::-webkit-scrollbar-button {
  display: none;
}

.dropDownList {
  border-top: 1px solid transparent;
  border-radius: 0 0 12px 12px;
}

.dropDownListSecondary {
  gap: 4px;
  border-radius: 12px;
}

.dropDownListOpen {
  position: relative;
  z-index: 2;
  border: 1px solid var(--clr-text-secondary,#69735D) ;
  border-radius: 14px;
}

.dropDownItem {
  position: relative;
  z-index: 0;
  padding: 5px 20px;
  cursor: pointer;
}

.dropDownItem:active {
  background-color: var(--clr-ui-disabled, #E4E8DF);
}

.dropDownItemSelected {
  color:var(--clr-primary-pressed,#508826)
}

.dropDownItem:hover {
  background-color: var(--clr-ui-disabled,#E4E8DF);
}

.placeholder {
  color:var(--clr-text-secondary,#69735D);
}

.text {
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4);
  font-family: var(--ff-body), serif;
  line-height: var(--lh-h4);
}

.title {
  margin-bottom: 4px;
}
