.buttonWithIcon {
  display: flex;
  gap: 10px;
  padding: 12px 20px;
  background: transparent;
  width: 100%;
  justify-content: left;
  /* border:1px solid var(--clr-ui-disabled,#e4e8df);  */
  border:1px solid var(--clr-text-secondary,#69735D);
  border-radius: 12px;
  font-family: "Roboto";
}

.dropDownListOpen .buttonWithIcon {
  border:1px solid var(--clr-ui-disabled,#e4e8df);
}

.arrowOpen  {
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
}

.arrow{
  transition: transform 0.5s ease-in-out;
  
}

.textInButtonWithIcon {
  flex-grow:1;
  text-align: left;
}

.dropDownList {
  width:100%;
  padding-top:8px;
  padding-bottom:8px;
  display:flex;
  flex-direction: column;
  gap:4px;
  line-height: 1.5;
}

.wrapperDrownList {
  border: 1px solid transparent;
  font-family: "Roboto",sans-serif;
}

.dropDownListOpen {
  border: 1px solid var(--clr-text-secondary,#69735D) ;
  border-radius: 14px;
}

.dropDownItem {
 padding: 4px 20px;
  
}

.dropDownItemSelected {
  color:var(--clr-primary-pressed,#508826)
}

.dropDownItem:hover {
  background-color: var( --clr-ui-disabled,#E4E8DF);
}

.text {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  color: var(--clr-text-primary, #253017)
}

.placeholder {
  color:var(--clr-text-secondary,#69735D);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}

.title {
  margin-bottom: 4px;
}