.sidebar {
  height: fit-content;
  padding: 20px;
  background: var(--clr-ui-surface, #ffffff);
  border-radius: 12px;
  max-width: 324px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading {
  color: var(--clr-text-primary, #253017);
  font-weight: 500;
  font-size: var(--fs-h2, 24px);
  font-family: var(
    --ff-heading,
    'Jost',
    system-ui,
    -apple-system,
    'Segoe UI',
    roboto,
    arial,
    sans-serif
  );
  letter-spacing: -0.01em;
}

.filterSections {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
