@import url('../../../styles/variables.css');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  color: inherit;
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  line-height: var(--lh-body);
  letter-spacing: 0.32px;
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary {
  color: var(--clr-text-primary);
  background-color: var(--clr-primary);
  height: 48px;
  padding: 12px 24px;
  width: 100%;
}

.primary:disabled {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-disabled);
  cursor: not-allowed;
}

.primary:hover:not(:disabled) {
  background-color: var(--clr-primary-hover);
}

.primary:active:not(:disabled) {
  color: var(--clr-ui-surface);
  background-color: var(--clr-primary-pressed);
}

.secondary {
  color: var(--clr-text-primary);
  background-color: var(--clr-ui-surface);
  border: var(--border-width) solid var(--clr-primary);
  height: 48px;
  padding: 12px 24px;
  width: 100%;
}

.secondary:disabled {
  color: var(--clr-text-disabled);
  background-color: var(--clr-ui-surface);
  border-color: var(--clr-ui-disabled);
  cursor: not-allowed;
}

.secondary:hover:not(:disabled) {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-surface);
  border-color: var(--clr-primary-hover);
}

.secondary:active:not(:disabled) {
  color: var(--clr-text-primary);
  background-color: var(--clr-ui-surface);
  border-color: var(--clr-primary-pressed);
}

.tertiary {
  color: var(--clr-text-primary);
  background-color: var(--clr-ui-surface);
  border: none;
  height: 48px;
  padding: 12px 24px;
  width: 100%;
}

.tertiary:disabled {
  color: var(--clr-text-disabled);
  cursor: not-allowed;
}

.tertiary:hover:not(:disabled) {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-background);
}

.tertiary:active:not(:disabled) {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-disabled);
}

.social {
  width: 436px;
  color: var(--clr-text-primary);
  background-color: var(--clr-ui-surface);
  border: var(--border-width) solid #404040;
  height: 48px;
  padding: 12px 24px;
  width: 100%;
}

.social:disabled {
  color: var(--clr-text-disabled);
  cursor: not-allowed;
}

.social:hover:not(:disabled) {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-background);
}

.social:active:not(:disabled) {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-disabled);
}

.submit {
  width: 100%;
  color: var(--clr-text-primary);
  background-color: var(--clr-primary);
  height: 48px;
  padding: 12px 24px;
  width: 100%;
}

.submit:disabled {
  color: var(--clr-text-secondary);
  background-color: var(--clr-ui-disabled);
  cursor: not-allowed;
}

.submit:hover:not(:disabled) {
  background-color: var(--clr-primary-hover);
}

.submit:active:not(:disabled) {
  color: var(--clr-ui-surface);
  background-color: var(--clr-primary-pressed);
}

.simple {
  color: var(--clr-primary-pressed, #508826);
  font-weight: var(--fw-medium, 500);
  justify-content: left;
  padding-inline: 0px;
}

.simple:hover {
  text-decoration: underline;
}

.iconLeft {
  display: flex;
  align-items: center;
}

.iconRight {
  display: flex;
  align-items: center;
}
