.form {
  padding: 40px 60px;
  background-color: var(--clr-ui-surface, #ffffff);
  max-width: 556px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: var(--border-radius, 12px);
}

.inLineDataAndGender {
  display: flex;
  gap: 24px;
}

.inLineButtons {
  display: flex;
  gap: 20px;
  margin-top: 16px;
}

.avatarWrapper {
  width: 75px;
  height: 75px;
  align-self: center;
}
