.link {
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
  border-radius: 4px;
  color: var(--clr-text-primary);
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  opacity: 0.5;
}
