@font-face {
  font-family: Jost;
  src:
    url(./Jost-Medium.woff2) format('woff2'),
    url(./Jost-Medium.woff) format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src:
    url(./Jost-SemiBold.woff2) format('woff2'),
    url(./Jost-SemiBold.woff) format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url(./Roboto-Regular.woff2) format('woff2'),
    url(./Roboto-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src:
    url(./OpenSans-SemiBold.woff2) format('woff2'),
    url(./OpenSans-SemiBold.woff) format('woff');
  font-weight: 600;
  font-display: swap;
}
