@font-face {
  font-weight: 500;
  font-family: "Jost";
  font-display: swap;
  src:
    url("./Jost-Medium.woff2") format('woff2'),
    url("./Jost-Medium.woff") format('woff');
}

@font-face {
  font-weight: 600;
  font-family: "Jost";
  font-display: swap;
  src:
    url("./Jost-SemiBold.woff2") format('woff2'),
    url("./Jost-SemiBold.woff") format('woff');
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src:
    url("./Roboto-Regular.woff2") format('woff2'),
    url("./Roboto-Regular.woff") format('woff');
}

@font-face {
  font-weight: 600;
  font-family: "OpenSans";
  font-display: swap;
  src:
    url("./OpenSans-SemiBold.woff2") format('woff2'),
    url("./OpenSans-SemiBold.woff") format('woff');
}
