.header {
  display: flex;
  align-items: center;
  gap: 32px;
  inline-size: 100%;
  padding: 36px 36px 20px;
  background: #f9faf7;
}

.nav {
  display: flex;
  align-items: center;  
  white-space: nowrap;  
  letter-spacing: 0.03rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

