.overlay {
  position: fixed;
  inset: 0;
  background: var(--clr-ui-overlay, #8e8e8e99);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #ffffff;
  border-radius: var(--border-radius, 12px);
  min-height: 442px;
  overflow: auto;
}

/* ширины */
.medium {
  min-width: 556px;
}

.large {
  min-width: 1024px;
}