.container {
  position: relative;
  width: 100%;
  font-family: var(--ff-body, 'Roboto');
  letter-spacing: 0.019rem;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: var(--lh-caption, 16px);
  font-weight: var(--fw-regular, 400);
  color: var(--clr-text-primary, #253017);
  line-height: var(--lh-body, 24px);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:  12px 20px;
  background-color: var(--clr-ui-background, #f9faf7);
  border: 1px solid #69735D;
  border-radius: var(--border-radius, 12px); 
  cursor: pointer;
  transition: all var(--transition-duration, 0.2s) ease;
  font-size: var(--font-size-base, 16px);
  color: var(--clr-text-secondary, #69735d);
  min-height: var(--height-input, 48px);
}

.dropdown:hover:not(.dropdownDisabled) {
  border-color: var(--color-border-hover, #c0c0c0);
  box-shadow: var(--shadow-sm, 0 2px 4px rgba(0, 0, 0, 0.05));
}
.dropdownError {
  border-color: var(--clr-error, #bf3920) !important;  
  box-shadow: var(--shadow-error, 0 0 0 2px rgba(255, 68, 68, 0.1));
}

.dropdownOpen {
 /* border-color: var(--clr-text-secondary, #69735d);*/ /* болше не нужно (тестирую общую рамку как в макете )*/
 border-left: none;
 border-right: none; /* убрал (верх,ведво и право) что бы не было приоткрытом сотоянии наложения двух бордеров как и по макету */
 border-top: none;
}


.dropdownText {
  flex: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
}

.dropdownArrow {
  display: inline-block;
  margin-right: 6px; 
  font-size: 23px ;
  color: var(--color-text-tertiary, #999999);
  transition: transform var(--transition-duration, 0.2s) ease;
}

.dropdownOpen .dropdownArrow {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: calc(100% +  4px);
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: var(--max-height-dropdown, 240px);
  overflow-y: auto;
  padding: 8px 0;
}

/* Скроллбар */
.dropdownMenu::-webkit-scrollbar {
  width: var(--scrollbar-width, 6px);
}

.dropdownItem {
  padding: 4px 12px;
  cursor: pointer;
  transition: background-color var(--transition-duration, 0.2s) ease;
}

.dropdownItem:hover {
  background-color: #E4E8DF;
}

/* тут обьединяем дпоп даун и меню в одни общий бордер при активации*/

.wrapper {
  position: relative;
  width: 100%;
}

.wrapperOpen {
  /* при открытом состоянии общая рамка */
  border: 1px solid var(--clr-text-secondary, #69735D);
  border-radius: var(--border-radius, 12px);
}
.wrapperOpen .dropdownMenu {
  border-top: none;
  border-radius: 0 0 var(--border-radius, 12px) var(--border-radius, 12px);
}
/* Текст ошибки */
.errorText {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: var(--clr-error, #bf3920);
  letter-spacing: 0.019rem;
}