.cityAutocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  /* max-width: 436px;   */
  max-height: 196px;  
}

.cityAutocompleteLabel {
  font-family: var(--ff-body, 'Roboto', sans-serif);
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-h4, 16px);
  letter-spacing: 0.02em;
}

.cityAutocompleteInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.cityAutocompleteInput {

  padding: 14px 19px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: var(--ff-body, 'Roboto', sans-serif);
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-h4, 16px);  
  letter-spacing: 0.02em;
  padding: 14px 19px;
  width: 100%;
  outline: none;


  /* border-radius: var(--border-radius, 12px);
  transition: all 0.2s ease;
  border-bottom: var(--border-width, 1px) solid var(--clr-ui-disabled, #e4e8df);
  background-color: var(--clr-ui-surface, #ffffff); */ 
}

.isOpen .cityAutocompleteInput {
  border-bottom: 1px solid var(--clr-text-secondary, #69735D);
}

.cityAutocompleteInput::placeholder {
  color: var(--clr-text-secondary, #69735d);
  font-family: var(--ff-body, 'Roboto', sans-serif);
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-h4, 16px);
  letter-spacing: 0.02em;
}

.cityAutocompleteClear {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);  
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 50%;  
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;  
  z-index: 2;
}

.cityAutocompleteInputContainerFull {


  border-radius: var(--border-radius, 12px);
  border: 1px solid var(--clr-text-secondary, #69735D);
  background-color: var(--clr-ui-surface, #ffffff);
  position: relative;
  
  /* border-radius: var(--border-radius, 12px);
  border: var(--border-width, 1px) solid var(--clr-text-secondary, #69735d);
  background-color: var(--clr-ui-surface, #ffffff);  
  min-height: 0px;   */
 
}

.cityAutocompleteInputContainerFull.isOpen {
  border: 1px solid var(--clr-text-secondary, #69735D);
  border-bottom: none;
  
  


}

.cityAutocompleteInputContainerFull.isOpen .cityAutocompleteInput {
  border-bottom: 1px solid var(--clr-ui-disabled, #E4E8DF);
  border-top-left-radius: var(--border-radius, 12px);
  border-top-right-radius: var(--border-radius, 12px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.cityAutocompleteSuggestions { 
  
  

  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;

  border: 1px solid var(--clr-text-secondary, #69735D);
  border-top: none;

  border-bottom-left-radius: var(--border-radius, 12px);
  border-bottom-right-radius: var(--border-radius, 12px);

  max-height: 116px;
  background-color: var(--clr-ui-surface, #ffffff);
  z-index: 3;
  overflow-y: auto;

  /* position: absolute; 
  top: calc(100% + 0px);
  left: -1px;
  right: 0;
  border: 1px solid var(--clr-text-secondary,#69735D);
  border-top:none;
  
  
  /* z-index: 1000; */

  /* width: 99%;  
  max-height: 116px;
  background-color: var(--clr-ui-surface, #ffffff);
  border-radius: var(--border-radius, 12px);
  z-index: 3;
  animation: fadeIn 0.2s ease;
  overflow-y: auto;
  margin-block-start: 5px;
  margin-block-end: 5px; */ 
}

.cityAutocompleteSuggestions::-webkit-scrollbar {
  width: 4px;  
}

.cityAutocompleteSuggestions::-webkit-scrollbar-thumb {
  background-color: #e4e8df;
  border-radius: 4px;
  border: none;
}

.cityAutocompleteSuggestions::-webkit-scrollbar-button {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cityAutocompleteSuggestion {
  padding: 10px 18px;  
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--clr-text-primary, #253017);
  font-family: var(--ff-body, 'Roboto', sans-serif);
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-h4, 16px);
  letter-spacing: 0.02em;
}

/* //Когда открыли */
.isOpen {

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;;
}