.container {
  margin-top: -46px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content {
  display: flex;
  gap: 24px;
  max-width: 1136px;
  margin: 0 auto;
}

/* Форма регистрации */

.register {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 12px;
  background-color: var(--clr-ui-surface);
  padding: 125px 60px;
}

.loginWith {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--clr-text-primary);
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--clr-ui-disabled);
}

.registerForm__inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* onBoarding */

.onBoarding {
  border-radius: 12px;
  background-color: var(--clr-ui-surface);
  text-align: center;
  padding: 132px 60px;
}

.onBoarding__textContainer {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.onBoardingTitle {
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: -1.1%;
}

.onBoardingText {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  letter-spacing: 2%;
}