.formWrapper {
  display: flex;
  justify-content: center;
  max-width: 556px;
  background-color: var(--clr-ui-surface, #ffffff);
  padding: 40px 60px;
  border-radius: var(--border-radius, 12px);
  box-sizing: border-box;
}

.form {
  width: 100%;
}

.userWrapper {
  display: flex;
  column-gap: 24px;
  padding-block-end: 20px;
}

.emailSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block-start: 4px;
  padding-block-end: 18px;
}

.profileItem {
  padding-block-end: 17px;
}

.profileCol1 {
  max-width: 218px;
}

.profileCol2 {
  min-width: 218px;
  justify-content: end;
}

.buttonWrapper {
  padding-block-start: 16px;
}
