.formWrapper {
  display: flex;
  justify-content: center;
  max-width: 556px;
  background-color: var(--clr-ui-surface, #ffffff);
  padding: 40px 60px;
  border-radius: var(--border-radius, 12px);
  box-sizing: border-box;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}

.emailSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  grid-column: 1/3;
}

.profileItem {
  grid-column: 1/3;
}

.profileCol1 {
  grid-column: 1/2;
}

.profileCol2 {
  grid-column: 2/3;
  justify-content: end;
}

.profileSubmitButton {
  margin-top: 16px;
  grid-column: 1/3;
}