.radioContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.radioInput {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radioLabel::before {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #000000; /* тут цвет обводки если не выбрана кнопка ( !!!Нужно поменять когда будут глобальные переменные) */
  border-radius: 50%;
  transition: border-color 0.2s ease;
  content: '';
}

.radioInput:checked + .radioLabel::before { /* тут меняется если кнока выбрана(!!! тут так же не забыть поменять на глобальные переменные)*/
  padding: 4px;
  background: #508826;
  background-clip: content-box;
  border-color: #508826;
}