.radioContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  font-size: var(--fs-body, 16px);
  font-family: var(--ff-body, 'Roboto');
  line-height: 24px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.radioInput {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radioLabel::before {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: var(--border-width, 1px ) solid var(--clr-ui-border, #000000); /* тут цвет обводки если не выбрана кнопка */
  border-radius: 50%;
  transition: border-color 0.2s ease;
  content: '';
}

.radioInput:checked + .radioLabel::before { /* тут меняется если кнока выбрана*/
  padding: 4px;
  background: var(--clr-primary-pressed, #508826);
  background-clip: content-box;
  border-color: var(--clr-primary-pressed, #508826);
}