
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

.content {
  display: flex;
  gap: 24px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.leftColumn {
  flex: 0 0 auto;
  width: 324px; /* Фиксированная ширина для карточки пользователя */
}

.rightColumn {
  flex: 1;
  min-width: 0; 
  display: flex;
  justify-content: flex-start;
}

/* Кнопка предложения обмена */

.exchangeButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  
  width: 100%; 
  height: 48px;
  
  background: var(--clr-primary);
  border-radius: var(--border-radius);
  border: none;
  
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  letter-spacing: 0.02em;
  text-align: center;
  
  color: var(--clr-text-primary);
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.exchangeButton:hover {
  background: var(--clr-primary-hover);
}

.exchangeButton:active {
  background: var(--clr-primary-pressed);
}
