
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

.content {
  display: flex;
  gap: 24px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.leftColumn {
  flex: 0 0 auto;
  width: 324px;
}

.rightColumn {
  flex: 1;
  min-width: 0; 
  display: flex;
  justify-content: flex-start;
}

/* Кнопка предложения обмена */

.exchangeButton {
  width: 100%; 
}

.exchangeButton:active {
  background: var(--clr-primary-pressed);
}
