@import url('../../../styles/variables.css');

.modal {
  width: 556px;
  box-sizing: border-box;
  background: var(--clr-ui-surface);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 60px;
  gap: 52px;
}

/* Размер для первого окна */
.created {
  height: 420px;
}

/* Размер для второго окна */
.sent {
  height: 480px;
  padding: 80px 60px;
}

.icon {
  width: 100px;
  height: 100px;
  display: block;
}

.icon svg {
  width: 100%;
  height: 100%;
}

/* Группа: заголовок + текст + кнопка */
.content {
  width: 436px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.content_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  word-break: break-word;
}

/* Заголовок */
.title {
  color: var(--clr-ui-border);
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  font-style: Medium;
  font-size: var(--fs-h2);
  line-height: 28px;
  letter-spacing: -0.38px;
  text-align: center;
  vertical-align: middle;
}

/* Параграф */
.description {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  letter-spacing: 0.3px;
  text-align: center;
  vertical-align: middle;
}

/* Кнопка */
.button {
  width: 100%;
  height: 48px;
}
