.main {
  position: relative;
}

.imageButton {  
  background: transparent;  
  outline: none;
  cursor: pointer;
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 50%;
  width: 244px;
  height: 244px;
}

.add {
  position: absolute;
  right: 0%;
  bottom: 0%;  
  background-color: var(--clr-primary, #ABD27A);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.imageButton:hover .add,
.imageButton:focus .add {
  transform: scale(1.2);
}

