.errorPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.image {
  margin-block-end: 40px;
}

.title {
  margin-block-end: 4px;
  font-weight: var(--fw-medium, 500);
  font-size: var(--fs-h2, 24px);
  font-family: var(--ff-heading, 'Jost', sans-serif);
  line-height: var(--lh-h2, 28px);
  color: var(--clr-text-primary, #253017);
}

.description {
  margin-block-end: 32px;
  font-size: var(--fs-body, 16px);
  font-family: var(--ff-body, 'Roboto', sans-serif);
  line-height: var(--lh-body, 24px);
  color: var(--clr-text-secondary, #69735d);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
}