.notificationItem {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-rows: auto auto;
  gap: 8px;
  align-items: center;
  max-width: 436px;
  max-height: 104px;
  background-color: transparent;
  border-radius: 12px;  
}

.icon {
  grid-area: 1 / 1 / 2 / 2;
  width: 40px;
  height: 40px;
  margin-block-end: 10px;
}

.content {
  grid-area: 1 / 2 / 2 / 4;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-block-end: 6px;
}

.mainText {
  font-family: var(
    --ff-body,
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    arial,
    sans-serif
  );
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-body, 16px);
  color: var(--clr-text-primary, #253017);
  letter-spacing: 0.02em;
  padding-block-end: 6px;
}

.subText {
  font-family: var(
    --ff-body,
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    arial,
    sans-serif
  );
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-caption, 12px);
  color: var(--clr-text-primary, #253017);
  letter-spacing: 0.02em;
}

.date {
  grid-area: 1 / 4 / 2 / 5;
  text-align: right;
  padding-block-end: 25px;
  font-family: var(
    --ff-body,
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    arial,
    sans-serif
  );
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-body, 16px);
  color: var(--clr-text-secondary, #69735d);
  letter-spacing: 0.02em;  
}

.button {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: auto;
}
