@import url('../../../styles/variables.css');

.container {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  position: relative;
}

.iconsContainer {
  display: flex;
  gap: 20px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.userAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  color: var(--clr-text-primary, #253017);
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-body, 16px);
  font-family: var(--ff-body, 'Roboto', sans-serif);
  line-height: 1.5;
  letter-spacing: 0.02em;
}


