@import url('../../../styles/variables.css');

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.iconsContainer {
  display: flex;
  gap: 20px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.userAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
