.footer {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  padding: 32px 36px;
}

.nav {
  align-self: flex-end;
  margin: 20px 0 32px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 324px);
  grid-auto-flow: column;
  gap: 12px 24px;
}

.footer__copyright {
  font-size: var(--fs-caption);
}

.grid li:nth-child(1),
.grid li:nth-child(2) {
  list-style-position: inside; /* маркер внутри */
  list-style-type: disc; /* стандартный маркер */
}
