.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 93px;
  max-width: 460px;
  row-gap: 8px;  
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.label {
  font-family: var(
    --ff-body,
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    arial,
    sans-serif
  );
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-body, 16px);
  color: var(--clr-text-primary, #253017);
  letter-spacing: 0.02em;
}

.input {
  border: var(--border-width, 1px) solid var(--clr-text-secondary, #69735d);
  border-radius: var(--border-radius, 12px);
  background-color: var(--clr-ui-surface, #ffffff);
  min-width: 436px;
  width: 100%;
  min-height: 48px;
  font-family: var(
    --ff-body,
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    arial,
    sans-serif
  );
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-body, 16px);
  color: var(--clr-text-primary, #253017);
  letter-spacing: 0.02em;
  padding: 12px 48px 12px 20px;
}

.eyeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorText {
    font-family: var(
    --ff-body,
    'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    arial,
    sans-serif
  );
  font-weight: var(--fw-regular, 400);
  font-size: var(--fs-caption, 12px);
  color: var(--clr-error, #bf3920);
  letter-spacing: 0.02em;
}