@import url('../../../styles/variables.css');

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.icon {
  color: var(--clr-text-primary);
}
