.mainContainer {
  display: flex;  
  flex-direction: column;
  margin-top: -46px;
}

.mainWrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.stepper {
    padding-block-end: 32px;
}