.searchInputContainer {
  width: 527px;
  height: 48px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;  
}

.searchIcon {
  width: 24px;
  height: 24px;
  margin-inline-start: 11px;
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding-inline-start: 8px;
}

.searchInput::placeholder {
  color: #69735d;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.65px;
  vertical-align: middle;
}
