.searchInputContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  min-width: 527px;
  min-height: 48px;
  padding: 12px;
  background-color: var(--clr-ui-surface, #ffffff);
  border-radius: 12px;
  background-color: var(--clr-ui-surface, #fff);  
}

.searchIcon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--clr-text-secondary, #69735d);
}

.searchInput {
  flex-grow: 1;
  padding: 0;
  color: var(--clr-text-secondary, #69735d);
  font-size: var(--fs-body, 16px);
  background: transparent;
  border: none;
  outline: none;
}

.searchInput::placeholder {
  color: var(--clr-text-secondary, #69735d);
  font-weight: var(--fw-regular, 400);
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: var(--ff-body, 'Roboto', sans-serif);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.clearButton {
  position: absolute;
  right: 2%;
  display: flex;
  width: 24px;
  height: 24px;
  color: var(--clr-ui-background, #f9faf7);
  background-color: var(--clr-primary, #abd27a);
  background-image: url('../../../assets/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: all .2s linear;
}

.clearButton:hover {
  transform: scale(1);
  opacity: 1;
}
